[build-system]
requires = [
    "setuptools>=61.2",
]
build-backend = "setuptools.build_meta"

[project]
name = "inifix"
version = "4.0.0"
description = "I/O facility for Idefix/Pluto configuration files"
authors = [
    { name = "C.M.T. Robert" },
]
classifiers = [
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Typing :: Typed",
]
requires-python = ">=3.8"
dependencies = [
    "more-itertools>=8.4",
]

[project.license]
text = "GPL-3.0"

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.scripts]
inifix-format = "inifix.format:main"
inifix-validate = "inifix.validate:main"

[project.urls]
Homepage = "https://github.com/neutrinoceros/inifix"

[tool.black]
target_version = [
  'py38',
  'py39',
  'py310',
]
line-length = 88

[tool.coverage.report]
show_missing = true
skip_covered = true
exclude_lines = [
    # a more strict default pragma
    "\\# pragma: no cover\\b",

    # allow defensive code
    "^\\s*raise NotImplementedError\\b",

    # typing-related code
    "^if TYPE_CHECKING:",
    ": \\.\\.\\.(\\s*#.*)?$",
    "^ +\\.\\.\\.$",
    "-> ['\"]?NoReturn['\"]?:",
]

[tool.coverage.run]
omit = [
  "setup.py",
]
parallel = true

[tool.mypy]
python_version = "3.8"
show_error_codes = true
warn_unused_configs = true
warn_unused_ignores = true
warn_unreachable = true
show_error_context = true
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = "tests.*"
ignore_errors = true

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--doctest-modules"
filterwarnings = [
    "error",
]

[tool.setuptools]
license-files = [
    "LICENSE",
]
include-package-data = false

[tool.setuptools.package-data]
inifix = [
    "py.typed",
]

[tool.setuptools.packages.find]
exclude = [
    "tests*",
    "testing*",
]
namespaces = false
