[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "inifix"
version = "5.0.4"
description = "An I/O library for Pluto-style ini files."
authors = [
    { name = "C.M.T. Robert" },
]
classifiers = [
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Programming Language :: Python :: 3",
    "Typing :: Typed",
]
requires-python = ">=3.10"

[project.license]
text = "GPL-3.0"

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.scripts]
inifix-format = "inifix.format:main"
inifix-validate = "inifix.validate:main"

[project.urls]
Homepage = "https://github.com/neutrinoceros/inifix"
Changelog = "https://github.com/neutrinoceros/inifix/blob/main/CHANGELOG.md"

[dependency-groups]
test = [
    "hypothesis>=6.110.0",
    "pytest>=6.1",
]
concurrency = [
    {include-group = "test"},
    "pytest-repeat>=0.9.3",
]
covcheck = [
    {include-group = "test"},
    "coverage[toml]>=6.5.0 ; python_version == '3.10'",
    "coverage>=6.5.0 ; python_version >= '3.11'",
]
typecheck = [
    "mypy>=1.11.2",
]

[tool.hatch.build.targets.sdist]
exclude = [
    ".*",  # exclude dot files (.gitignore is still included)
    "_typos.toml",
    "scripts",
    "uv.lock",
]

[tool.ruff.lint]
exclude = ["*__init__.py"]
ignore = ["E501"]
select = [
    "E",
    "F",
    "W",
    "C4",  # flake8-comprehensions
    "B",   # flake8-bugbear
    "YTT", # flake8-2020
    "I",   # isort
    "UP",  # pyupgrade
    "RUF022" # unsorted-dunder-all
]

[tool.ruff.lint.isort]
known-first-party = ["inifix"]

[tool.coverage.run]
branch = true
source = [
    "src/inifix",
    "tests",
]
omit = [
  "scripts/*",
]

[tool.coverage.report]
show_missing = true
skip_covered = false
exclude_lines = [
    # a more strict default pragma
    "\\# pragma: no cover\\b",

    # allow defensive code
    "^\\s*raise NotImplementedError\\b",

    ": \\.\\.\\.(\\s*#.*)?$",
    "^ +\\.\\.\\.$",
    "-> ['\"]?NoReturn['\"]?:",
]

[tool.mypy]
python_version = "3.10"
show_error_codes = true
warn_unused_configs = true
warn_unused_ignores = true
warn_unreachable = true
show_error_context = true
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = "tests.*"
ignore_errors = true

[tool.pytest.ini_options]
minversion = "6.0"
filterwarnings = [
    "error",
    "ignore:assertions not in test modules or plugins will be ignored:UserWarning",
]
addopts = "-ra"
