name: CI (bleeding edge)

on:
  schedule:
    # run this every wednesday at 3 am UTC
  - cron: 0 3 * * 3
  pull_request:
    paths:
    - .github/workflows/bleeding_edge.yml
  workflow_dispatch:

jobs:
  build:
    name: 'py${{ matrix.python-version }} (free-threading: ${{ matrix.free-threading }})'
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        python-version:
        - 3.13-dev
        free-threading:
        - false
        - true

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      if: ${{ !matrix.free-threading }}
      with:
        python-version: ${{ matrix.python-version }}
    - uses: deadsnakes/action@v3.1.0
      if: ${{ matrix.free-threading }}
      with:
        python-version: ${{ matrix.python-version }}
        nogil: true

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel
        python -m pip install git+https://github.com/more-itertools/more-itertools.git
        python -m pip install git+https://github.com/pytest-dev/pytest.git
    - name: Build
      run: python -m pip install .
    - run: python -m pip list
    - name: Run tests
      run: pytest --color=yes
    - name: Run doctests
      run: pytest --color=yes --pyargs inifix --doctest-modules
