name: CD
on:
  push:
    tags: v*
  pull_request:
    paths:
    - .github/workflows/cd.yml
    - README.md
    - ./**/pyproject.toml
    - ./**/conftest.py

permissions: {}

jobs:
  pre-publish-checks:
    runs-on: ubuntu-latest
    name: pre-publication checks
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        enable-cache: false
    - run: uv run scripts/pre_publish_checks.py

  build:
    name: Build artifacts
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        enable-cache: true
        cache-suffix: build
    - name: Build distributions
      shell: bash -l {0}
      run: uv build --package inifix
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: artifacts
        path: dist

  test-sdist:
    name: Test source distribution
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        python-version: '3.10'
        enable-cache: true
        prune-cache: false
        cache-suffix: test-sdist
    - run: uv sync --only-group test
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: artifacts
        path: dist
    - name: test source distribution in isolation
      run: |
        tar xzf dist/*.tar.gz
        cd inifix-*
        uv pip install .
        uv run --no-project pytest --color=yes -ra

  pypi-publish:
    name: Publish
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    needs: [pre-publish-checks, test-sdist]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/inifix
    permissions:
      id-token: write
    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: artifacts
        path: dist

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
